@import url(./Assets/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLE DECLARATION & GLOBAL STYLING */
:root {
	--primary-font-size: 1rem;
	--heading-font-size: 1.65rem;
	--small-font-size: 0.8rem;
	--text-muted-color: rgba(0, 0, 0, 0.8);
	--primary-color: #980730;
	--primary-hover-color: #5e001b;
	--primary-color-muted: #98073010;
	--secondary-color: #07986f;
	--secondary-hover-color: #017554;
	--box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	--rounded-borders: 24px;
	--semi-rounded-borders: 8px;
	--section-padding: 24px;
	--small-gap: 16px;
	--large-section-padding: 42px;
	--font-family: "Albert Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 110%;
}

body {
	font-family: var(--font-family);
}

p,
span {
	font-size: var(--primary-font-size);
	margin: 0;
}

h1 {
	font-size: var(--heading-font-size);
	font-weight: 700;
}

body {
	text-align: center;
}

/* HEADING */
header {
	margin: var(--large-section-padding);
}

button {
	border: 0;
	background-color: white;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	border-radius: 4px;
	padding: 6px 12px;
	color: white;

	&:hover {
		cursor: pointer;
	}
}

#start-game-btn {
	background-color: var(--secondary-color);

	&:hover {
		cursor: pointer;
		background-color: var(--secondary-hover-color);
	}
}

#reset-game-btn {
	background-color: var(--primary-color);

	&:hover {
		background-color: var(--primary-hover-color);
	}
}

.btn-container {
	margin-bottom: var(--large-section-padding);
	display: flex;
	justify-content: center;
	gap: 16px;
}

#start-game-btn.disabled {
	background-color: gray;
	box-shadow: none;

	&:hover {
		cursor: default;
	}
}

/* GAMEBOARD */
:root {
	--gameboard-height-width: 50vh;
}

#gameboard {
	width: var(--gameboard-height-width);
	height: var(--gameboard-height-width);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	margin: 0 auto;
}

.tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	border: 1px solid black;
}

.tile.selected-player {
	background-color: var(--secondary-color);
	color: white;
}

.tile.selected-comp {
	background-color: var(--primary-color);
	color: white;
}

/* Result text */
#result {
	margin-top: var(--large-section-padding);
	font-weight: bold;
	font-size: var(--heading-font-size);
}
